<section>
  <div class="container mt-5">
    <form action="/submit" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username"
          aria-describedby="emailHelp">
        {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="pw" id="pw" placeholder="Enter password">
      </div>
      {{#if loginErr}}
      <p class="error mt-3 text-danger">incorrect username or password</p>
      {{/if}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>